/* line 1, app/assets/stylesheets/event.sass.erb */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 3, app/assets/stylesheets/event.sass.erb */
.wrapper {
  height: auto !important;
  max-width: 93.75em;
  margin: 0 auto;
}

/* line 7, app/assets/stylesheets/event.sass.erb */
.wrapper .container {
  height: auto !important;
  max-width: 940px;
  padding: 0 30px;
  width: auto;
  position: relative;
}

/* line 13, app/assets/stylesheets/event.sass.erb */
.wrapper .container h1 {
  font-family: 'Strait', sans-serif;
  font-size: 2.5em;
  margin-bottom: 5rem;
  font-weight: 500;
  line-height: 1.2;
}

/* line 20, app/assets/stylesheets/event.sass.erb */
.footer-santa {
  background: url(/assets/footer-bg_santa-908cb93f5f167df4cc600a9339d6a02d12ebaf3923ca4382312e359b263447a4.png) no-repeat 100% 0;
  padding-top: 65px;
  padding-bottom: 35px;
  font-size: 1.2em;
  text-align: center;
  color: #6e6e6e;
}

/* line 28, app/assets/stylesheets/event.sass.erb */
.bg {
  font-family: 'Strait', sans-serif;
}
/*


*/
